<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix, XmlUnboundNsPrefix -->
<configuration status="WARN">
    <appenders>
        <RollingFile name="error" fileName="target/logs/error_logging_file.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern=" %d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
        </RollingFile>

        <RollingFile name="info" fileName="target/logs/info_logging_file.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern=" %d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="error" level="error"/>
            <appender-ref ref="info" level="info"/>
        </root>
    </loggers>
</configuration>